@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.col2 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
}

.main-content {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: #f9fafb
}

.sidebar {
    display: grid;
    grid-row: 1/3;
    grid-template-rows: 150px 1fr 1.75fr;
    background-color: #4f46e5;
    color: white;
    gap: 50px;
}

.sidebar p {
    font-size: 22px;
}

.sidebar h1 {
    place-self: center;
}

.nav {
    display: grid;
    grid-template-rows: repeat(6, 75px);
    padding-left: 30px;
}

.branding {
    display: grid;
    grid-template-rows: repeat(3, 75px);
    padding-left: 30px;
}

.trending {
    display: grid;
    grid-column-start: 2;
}

.announcements {
    display: grid;
}

.project-container {
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-row: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}