@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.col2 {
    display: grid;
    grid-template-rows: 0.75fr 6fr;
}

.header {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    place-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 20px;
}

input[type='text'] {
    width: 45vw;
    height: 30px;
    place-self: start;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 0px;
    padding-left: 20px;
}

.user-row2 {
    place-self: start;
    padding-top: 20px;
    padding-left: 50px
}

.header button {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
}

.main-content {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: #cfcfcf;
}

.sidebar {
    display: grid;
    grid-row: 1/3;
    grid-template-rows: 75px 400px 1fr;
    background-color: #4f46e5;
    color: white;
    gap: 50px;
}

.sidebar p {
    font-size: 24px;
    font-weight: 500;
}

.sidebar p:hover {
    color: #38bdf8;
}

.sidebar h1 {
    place-self: center;
    font-size: 32px;
    padding-top: 20px;
}

.nav {
    display: grid;
    padding-left: 30px;
}

.branding {
    display: grid;
    grid-template-rows: repeat(3, 75px);
    padding-left: 30px;
    margin-top: 50px;
}

.main2 {
    display: grid;
    margin-left: 40px;
}

.trending {
    display: grid;
    margin-top: 30px;
}

.trends {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 50px;
}

.user {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.announcements {
    display: grid;
}

.announce-title {
    margin-bottom: -20px
}

.announce2 {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    gap: 30px;
}

.project-header{
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 225px;
}

.project-title {
    margin-bottom: 10px;
}