@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    place-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 20px;
}

.search {
    display: flex;
    place-self: start;
    padding-top: 10px;
    padding-left: 50px;
    gap: 20px;
    align-items: center;
}

.search > i {
    font-size: 30px;
    border-radius: 10px;
    background-color: #f1f5fe;
    padding: 4px 8px;
}

input[type='text'] {
    width: 45vw;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 20px;
}

.user-row2 {
    place-self: start;
    padding-top: 20px;
    padding-left: 50px
}

.header button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: #4f46e5;
    color: white;
    box-shadow: 0 2px 4px rgba(79, 70, 229, 0.3);
}

.buttons {
    display: flex;
    gap: 20px;
}

button:hover {
    background-color: #3730a3;
    box-shadow: 0 4px 8px rgba(67,56,202,0.3);
    transition: all 0.2s ease;
}

.main-content {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: #f1f5fe;
    gap: 75px;
}

.sidebar {
    display: grid;
    grid-row: 1/3;
    grid-template-rows: 75px 400px 1fr;
    background-color: #4338ca;
    color: white;
    gap: 50px;
    box-shadow: 2px 0 6px rgba(0,0,0,0.5);
}

.sidebar p {
    font-size: 24px;
    font-weight: 500;
    color: #f3f4f6;
    height: 30px;
    padding: 15px 30px;
    width: 100%;
}

.sidebar p:hover {
    color: #38bdf8;
    transition: all 0.2s ease;
    background-color: rgba(255,255,255,0.1);
}

.sidebar h1 {
    place-self: start;
    font-size: 32px;
    padding-top: 20px;
}

.nav {
    display: grid;
}

.branding {
    display: grid;
    grid-template-rows: repeat(3, 75px);
}

.trends {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 35px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.announce-title {
    margin-bottom: -20px
}

.announce2 {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    gap: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.announcements h1, .trending h1 {
    margin-bottom: 20px;
}

.project-header{
    margin-bottom: 20px;
}

.project-container{
    grid-row: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 225px;
    border-left: 10px solid #38bdf8;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.project:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
}

.project-title {
    margin-bottom: 10px;
}

.project p {
    font-size: 20px;
    flex: 1;
}

p > i {
    font-size: 24px;
}

button > i {
    font-size: 20px;
}

h1 > i {
    font-size: 30px;
}

.user-row1 {
    display: flex;
    border: 1px solid green;
    align-items: center;
    gap: 30px;
}

.sidebar > h1 {
    display: flex;
    padding: 30px 30px;
    gap: 20px;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.project-icons > i {
    font-size: 30px;
}

.project-icons > i:hover{
    color: #38bdf8;
    transition: all 0.2s ease;
}